/* Общий контейнер для страницы */
.page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
/* CSS для упорядочивания элементов формы */
.form-container form {
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Центрируем форму на странице */
  width: 100%;
}

.form-container label {
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container textarea {
  padding: 10px; 
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container textarea {
  min-height: 200px; 
}

.form-container button[type="submit"] {
  padding: 10px 20px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  margin-top: 10px;
}

.form-container button[type="submit"]:hover {
  background-color: #0056b3; 
}
