.header {
  background-color: #242424;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand {
  color: white;
  text-decoration: none;
  font-size: 110%;
}

.navRight {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navLink {
  color: white;
  font-size: 110%;
  text-decoration: none;
  position: relative;
  margin-right: 10px;
}

.dropdownContainer {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContainer:hover .dropdownContent {
  display: block;
}

.dropdownItem {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdownItem:hover {
  background-color: #ddd;
}
