.sidebar {
  width: 60px;
  height: 100%;
  background-color: #333;
  transition: width 0.5s ease;
  overflow: hidden;
}

.sidebar.expanded {
  width: 200px;
}

.sidebar-item {
  padding: 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon-container {
  margin-right: 10px;
}

.title {
  display: none;
  transition: opacity 0.3s ease;
}

.sidebar-item:hover .title {
  display: inline;
  opacity: 1;
}

.sidebar.expanded .title {
  display: inline;
}
