.pageTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  text-transform: uppercase;
}

.snippetListContainer {
  display: flex;
  flex-direction: row; 
  height: 100vh; 
  width: 100%; 
}

.snippetContent {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.snippetTable {
  flex: 1;
  width: 100%;
  border-collapse: collapse;
}

.snippetTable th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: center;
}

.snippetTable td {
  padding: 8px;
  font-size: calc(10px + 6 * (100vw / 1280));
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.snippetTable tr:hover {
  background-color: #f5f5f5;
}

.snippetLink {
  color: blue;
  text-decoration: none;
  font-size: calc(10px + 6 * (100vw / 1280));
}

.snippetLink:hover {
  text-decoration: underline;
}
